.footer {
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 25px 0;
}

.redes {
    color: #fff;
    display: flex;
    justify-content: center;
    width: 15vw;
    margin: auto 10vw;
    font-size: 22px;
}

.ctt {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 8vw;
    margin: auto 10vw;
    font-size: 26px;
}